body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
}

html{
	height:100%;
}

/*Temp Styles*/
.connectedSortable{
	list-style-type:none;
/*	float:left;*/
	padding:5px;
	width: 200px; /*This is what gives us the ability to drop on empty*/
}
/*Temp Styles*/
.connectedSortable li{
	width:320px;
	padding: 5px;
	margin:5px;
	font-size:1.2em;
	background:#eee;
	border: 2px solid black;
	text-align:center;
}

.bordersOnClass{
	border: 1px solid black;
}

.tableClass{
	margin: auto;
}

.smallerMainBodyAreaClass{
	margin:auto;
	border:2px solid #E1E3F2;
	width: 30%;
	padding: 15px;
}

.tableClass td{
	padding: 10px;
}

.assignmentQuestionEntryClass{
	width: 400px;
	margin: auto;
	border: 2px solid #E1E3F2;
}

.mainBodyAreaClass{
	margin:auto;
	border:2px solid #E1E3F2;
	width: 80%;
	padding: 15px;
}

.formAreaClass{
	margin:auto;
}

.formFooterArea{
	margin: auto;
	text-align: center;
}

/* Additions */

a{
	color: #6D8BBD;
	text-decoration: none;
}

a:hover{
	color: #E69660;
	text-decoration: none;
}

.pageTitleClass{
	text-align: center;
	background-color: #F0F1F5;
	font-size: 2em;
	font-weight: bold;
}

.pageSubtitleClass{
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.bannerClass{
	background-color: #F0F1F5;
	padding: 7px;
	margin: 0px 0px 8px 0px;
}

.logoutLinkClass{
	float: right;
	padding: 0 10px 0 0;
}

.listClass{
	list-style-type: none;
}

#bannerList ul{
    margin: 0;
    padding: 0;
	list-style-type: none;
}

#bannerList ul li{
	display: inline;
	padding: 3px 10px 3px 10px;
	margin: 5px;
}

.listTitleClass{
	font-size: 1.2em;
	font-weight: bold;
}

.tableTextInput input{
	width: 350px;
}

.tableTextAreaInput textarea{
	width: 348px;
	height: 120px;
}

#assignmentDetailsNameAndDateId {\
}

#assignmentDetailsNameAndDateId td{
	padding: 10px;
}

.fullWidthInputClass {
	width:100%;
}

.fullWidthInputClass input{
	width: 100%;
	height: 20px;
}

#customMainBodyArea{
	margin:auto;
	border:2px solid #E1E3F2;
	width: 55%;
	padding: 15px;
}

.questionResponseClass{
	margin: 15px;
	padding: 5px;
}

.questionResponseQuestionTitleClass{
	font-weight: bold;
	background-color: #FAFAFA;
}

.questionResponseBodyClass{
	background-color: #F0F1F5;
}

#questionMapArea{
	margin: auto;
	height:50%;
	width: 50%;
}

#loginMainBody{
	margin:auto;
	border:2px solid #E1E3F2;
	width: 15%;
	padding: 15px;
}